<h1>about</h1>
<form action="/usuario/newuser" method="POST">
    <div>
        <p>
            <label>Nombre:</label>
            <input id="name" name="nombre" type="text">
        </p>
        <p>
            <label>Apellido:</label>
            <input id="appellido" name="apellido" type="text">
        </p>
    </div>
    <button type="submit">Guardar</button>
</form>