<div>
    {{#each lista_usuarios}}
        <div>
            <li>{{nombre}}
            {{apellido}}</li>
        </div>
    {{/each}}
</div>
<button onclick="location.href='/about';">Nuevo usuario</button>

